# ==========
# Secrets
# ==========
.env
.env.*
*.key
*.pem

# ==========
# Python
# ==========
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==========
# Virtualenvs
# ==========
.venv/
venv/
ENV/
env/

# ==========
# Poetry
# ==========
# (poetry.lock geralmente É recomendado versionar; então NÃO ignoramos)

# ==========
# IDE / Editor
# ==========
.vscode/
.idea/

# ==========
# OS
# ==========
.DS_Store
Thumbs.db
desktop.ini

# ==========
# Logs
# ==========
*.log

# ==========
# Database / local files
# ==========
*.sqlite3